<html>
    <head>
        <title>Merve's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Merve's Blog</a></h1>
        </div>
        <div>
            <p>published: 15.07.2020, 17:00</p>
            <h2><a href="">My First Blog</a></h2>
            <p>So Exciting! </p>
        </div>

        <div>
            <p>published: 15.07.2020, 17:17</p>
            <h2><a href="">This is my second submit!</a></h2>
            <p>My first django experience ...</p>
        </div>
    </body>
</html>